@use '../util' as *;

.header {
	display: flex;
	flex-wrap: wrap;
	margin-top: rem(36);

	@include breakpoint(medium) {
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		width: 100%;

		@include breakpoint(medium) {
			width: auto;
		}
	}

	&__subtitle {
		font-size: rem(14);
		font-weight: 700;
		color: var(--text-color2);
	}
}

.mobile-hr {
	display: block;
    width: 100%;
    border: none;
    border-top: rem(1.85) solid var(--mobile-top-bar); /* Change the color and style as needed */
	margin: rem(28) 0 rem(20) 0;
	@include breakpoint(medium) {
		display: none;
	}
  }